{% extends 'base.html' %}



{% block content %}

<!-- Dashboard panels -->
<div class="container my-2 py-5">
  <!-- Section: Block Content -->
  <section class="">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-12 col-md-12 mb-4">
        <!-- Admin card -->
        <div class="card mt-3">

          <div class="">
            <i class="far fa-chart-bar fa-lg warning-color z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
            <div class="float-right text-right p-3">
              <p class="text-uppercase text-muted mb-1"><small>staff returns</small></p>
              <h4 class="font-weight-bold mb-0">23</h4>
            </div>
            <div class="float-right text-right p-3">
              <p class="text-uppercase text-muted mb-1"><small>staff returns</small></p>
              <h4 class="font-weight-bold mb-0">23</h4>
            </div>
          </div>

          <div class="card-body pt-0">
            <div class="progress md-progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <a href="#">Go to page</a>
          </div>

        </div>
        <!-- Admin card -->

      </div>
      <!--Grid column-->


    </div>
    <!--Grid row-->

  </section>
  <!--Section: Content-->


<div class="row ">
 
    
    <div class="col-lg-6 col-md-12 mb-4">

    <ul class="nav nav-tabs nav-justified md-tabs orange" id="myTabJust" role="tablist">
     
      <li class="nav-item">
        <a class="nav-link" id="register-tab-just" data-toggle="tab" href="#register-just" role="tab" aria-controls="register-just"
          aria-selected="false">Register</a>
      </li>
  
    </ul>
    <div class="tab-content card pt-5" id="myTabContentJust">
    
      <div class="tab-pane fadeshow active" id="register-just" role="tabpanel" aria-labelledby="register-tab-just">
        <!-- Registration column -->
  <div class="col">
    <div class="card border border-0">
      <div class="card-body">
        <h5 class="card-title" style="color: #EF7D00">{% block registration__card__title%} {% endblock %}</h5>
        {% include "form_flashed_errors.html" %}
        <div class="form-wrapper">
                    {% block registration__card__body %}
                    {% endblock %}
        </div>
      </div>
    </div>
    </div>

          </div>
    </div>
    </div>
    

<!-- Tabs  -->
<div class="col-lg-6 col-md-12">

<ul class="nav nav-tabs nav-justified md-tabs orange " id="myTabJust" role="tablist">
 
  <li class="nav-item">
    <a class="nav-link" id="edit-tab-just" data-toggle="tab" href="#edit-just" role="tab" aria-controls="edit-just"
      aria-selected="false">Edit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="delete-tab-just" data-toggle="tab" href="#delete-just" role="tab" aria-controls="delete-just"
      aria-selected="false">Delete</a>
  </li>
</ul>

<div class="tab-content card pt-5" id="myTabContentJust">

  <div class="tab-pane fadeshow active" id="edit-just" role="tabpanel" aria-labelledby="edit-tab-just">
      <!-- Edit Column -->
      <div class="col">
        <div class="card border border-0">
        <div class="card-body">
        <h5 class="card-title" style="color: #EF7D00;">{% block edit__card__title %} {% endblock  %}</h5>

        <table class="table" id="myTable1" >
                {% block edit__card__body %}
                {% endblock  %}
        </table>
        </div>
        
        </div>
        </div> 
      </div>

    <div class="tab-pane fade" id="delete-just" role="tabpanel" aria-labelledby="delete-tab-just">
      <!-- Delete Column -->
      <div class="col">
        <div class="card border border-0">
          <div class="card-body">
            <h5 class="card-title" style="color: #EF7D00;">{% block delete__card__title%} {% endblock%}</h5>
            <table class="card-table table" id="myTable2" >
              {% block delete__card__body%}
              {% endblock%}
            </table>
          </div>
        </div>
      </div> 
    </div>
    
  </div>
  </div>
<!--./ Tabs  -->
            
</div>



</div>
<!--/. Dashboard panels -->


    
{% endblock %}

{% block script %}
{% endblock %}

