<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %} {% endblock %}</title>
      <head>

          <!-- Font Awesome -->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
          <!-- Font Awesome -->

          <!-- Google Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
          <!-- Google Fonts -->
          
          <!-- MDB -->
          <link rel="stylesheet" href="  {{url_for('static', filename='bootstrap.min.css')}}">
          <link rel="stylesheet" href="  {{url_for('static', filename='mdb.min.css')}}">
          <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
          <!-- MDB -->
  </head>

  <body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light lighten-1 sticky-top">

  <a class="navbar-brand" href="{{url_for('admin.index')}}">
        <img src="{{url_for('static', filename='img/ZM_Coat_of_Arms.png')}}" alt="avatar image" height="50">
  </a>
  <div>
    <h2 class="m-0 p-0">Mr. ABC</h2>
    <p class="m-0 p-0">Head of xyz</p>
  </div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      
      {% block nav_links %} 
      {% endblock %} 
 
    </ul>
  </div>
</nav>
<!--/.Navbar -->
    
<!-- BreadCrumb -->

{% block breadcrumb %} 

{% endblock %} 

<!--/. BreadCrumb -->


    {% block content %} 
    {% endblock %} 
    
    {% block script %} 
    {% endblock %} 
    
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    
    
    <script src="{{url_for('static', filename='mdb.min.js')}}"></script>

  </body>
</html>