<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <head>
          <!-- Font Awesome -->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
          <!-- Font Awesome -->

          <!-- Google Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
          <!-- Google Fonts -->
          
          <!-- MDB -->
          <link rel="stylesheet" href="  {{url_for('static', filename='bootstrap.min.css')}}">
          <link rel="stylesheet" href="  {{url_for('static', filename='mdb.min.css')}}">
          <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
          <!-- MDB -->
 </head>
<body>
  {% block css_inline%}
  {% endblock %}
   
  <!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light lighten-1 sticky-top">

  <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='img/ZM_Coat_of_Arms.png')}}" alt="avatar image" height="45">
  </a>
  
</nav>
      
      <div class="container justify-items-center">
        <br>
        <br>

    {% block content %}
    {% endblock %}
     
    </div>
    <footer class="text-center text-lg-start"> 
      <!-- Grid container -->
      
    </footer>
    
    
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    
    
    <script src="{{url_for('static', filename='mdb.min.js')}}"></script>

      <script>
      $(document).ready( function () {
        $('#myTable1').DataTable();
        $('#myTable2').DataTable();
      } );

      </script>
      {% block script %}
      {% endblock %}
  
</body>
</html>