<div class="mb-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
  </div>