{% extends 'base_registration.html' %}
{% block title %} Login {% endblock%}


{% block content %}
<!-- Material form login -->
<div class="card " >

  <h5 class="card-header warning-color white-text text-center py-4">
    <strong>Sign in</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" action="{{url_for('auth.login_user')}}" method="POST">
      {{ form.csrf_token }}
      {% include "form_flashed_errors.html" %}
      <ul class="errors">
        {% for error in form.email.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
      </ul>
      <!-- Email -->
      <div class="md-form">
        {{ form.email(class_="form-control")}}
        {{ form.email.label(class_="form-label") }}
   
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
          </div>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

      <!-- Register -->

    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->
      
{% endblock %}
