h2 {
  text-align: center;
  color: #ef7d00;
  padding-top: 7px;
  font-style: inherit;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
footer {
  background-color: rgba(0, 0, 0, 0.2);
  height: 3rem;
  width: 100%;
  margin-top: 100%;
}

button{
  background-color: #198A00 ;

}
.topleft {
  top: 0;
  left: 50%;
}
