{% extends 'base.html' %}

{% block css_inline %}
             <style>

table {
                
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
    border: 0;
    }

    table caption {
    font-size: 1.3em;
    }
    
    table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    }
    
    table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    }
    
    table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    }
    
    table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    }
    
    table td:last-child {
    border-bottom: 0;
    }
}
             </style>     

{% endblock %}
{% block nav_content %}
    <h1></h1>
{% endblock %}

{% block nav_links %}
{% if g.user.role == "Permanent Secretary"%}
            {% include "head_ps/nav.html"%}
{% elif g.user.role == "Provincial"%}
            {% include "head_province/nav.html"%}
{% elif g.user.role == "District"%}
            {% include "head_district/nav.html"%}
{% elif g.user.role == "Station"%}
            {% include "head_station/nav.html"%}
{% endif %}
{% endblock %}


{% block breadcrumb %} 
<div class="container">

    <ol class=" my-4 breadcrumb white-skin">
    <li class="breadcrumb-item">
      <a href="{{url_for('admin.index')}}">Home</a>
    </li> 

    <li class="breadcrumb-item active">Add Staff Return</li>
  </ol>
</div>
{% endblock %} 


{% block content %}
<div class="container" >
    <h2> Add Staff return </h1>

  <!-- Modal -->
  <div class="modal fade right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-side modal-top-right" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalPreviewLabel">Review Submission</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="message"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->


<div id="cont">
    <table class="table table-striped "  id="empTable">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Employeer Number</th>
              <th scope="col">Current Position</th>
              <th scope="col">If Acting(Months)</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
            </tr>
            <tr></tr>
          </thead>
    </table>
</div>

<button id="submit_btn" class="btn btn-success" type="button" onclick="submit()">
   Submit
  </button>
<input type="button" class="btn btn-success" id="bt" value="AddROw" onclick="addRow()" />
<!-- <input type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-default" /> -->

<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Submit
            </div>
            <div class="modal-body">
                Are you sure you want to submit the following details?

                <!-- We display the details entered by the user here -->
                <table class="table">
                    <tr>
                        <th>Last Name</th>
                        <td id="lname"></td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td id="fname"></td>
                    </tr>
                </table>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="#" id="submit" class="btn btn-success success">Submit</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="../../static/js/Notification.min.js"></script>


<script>
    console.log(Notification);
    window.notification = new Notification({});
    console.log(Notification.success);
    

            arrHead = ['','Name', 'Employee_number ', ' Current Position', 'Months Active','Email', 'Status'];
    function removeRow(e){
        var myTab = document.getElementById('empTable');
        console.log(myTab.rows)
        if (myTab.rows.length > 2){
            e.parentElement.parentElement.remove()
        }
}
function addRow() {
    var empTab = document.getElementById('empTable');

    var rowCnt = empTab.rows.length;    // get the number of rows.
    var tr = empTab.insertRow(rowCnt); // table row.
    tr = empTab.insertRow(rowCnt);

    for (var c = 0; c < arrHead.length; c++) {
        var td = document.createElement('td');          // TABLE DEFINITION.
        td = tr.insertCell(c);

        if (c == 0) {   // if its the first column of the table.
            var button = document.createElement('input');
            button.setAttribute('type', 'button');
            button.setAttribute('value', 'Remove');
            button.setAttribute('onclick', 'removeRow(this)');
            td.appendChild(button);
        } else if(c < arrHead.length -1) {
            // the 2nd, 3rd and 4th column, will have textbox.
            var ele = document.createElement('input');
            ele.setAttribute('type', 'text');
            ele.setAttribute('value', '');
            td.appendChild(ele);
        } else {
            var select = document.createElement('select');
            var ele_1 = document.createElement('option');
            ele_1.setAttribute('value', '0');
            ele_1.text="Deserters";
            var ele_2 = document.createElement('option');
            ele_2.setAttribute('value', '1');
            ele_2.text="Deceased";
            var ele_3 = document.createElement('option');
            ele_3.setAttribute('value', '2');
            ele_3.text="Dismissed";
            var ele_4 = document.createElement('option');
            ele_4.setAttribute('value', '3');
            ele_4.setAttribute('selected', '');
            ele_4.text="Present and Working";
            select.appendChild(ele_1);
            select.appendChild(ele_2);
            select.appendChild(ele_3);
            select.appendChild(ele_4);
            td.appendChild(select);

        }

    }
}
</script>


<script>
    
    function submit() {
        var myTab = document.getElementById('empTable');
        console.log(myTab.rows.length)
        if (myTab.rows.length <= 1){
            alert('No rows to submit')
        } else {
        
        var btn_submit = document.querySelector("#submit_btn")
        btn_submit.innerHTML = ` <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...` 
        btn_submit.disabled = true
        var arrValues = new Array();

        // loop through each row of the table.
        for (row = 1; row < myTab.rows.length - 1; row++) {
            // loop through each cell in a row.
            for (c = 0; c < myTab.rows[row].cells.length; c++) {
                var element = myTab.rows.item(row).cells[c];
                if (element.childNodes[0].getAttribute('type') == 'text') {
                    arrValues.push("'" + element.childNodes[0].value + "'");
                } else if (c == myTab.rows[row].cells.length - 1){
                    arrValues.push("'" + element.childNodes[0].value + "'");
                }
            }
        }

        }
        
        // finally, show the result in the console.
        var people =[]
        var counter = 0
        cols = 6
        for(i = 0; i<arrValues.length/cols; i++){
            people.push({
                id:                 i,
                name:               arrValues[0+counter],
                employee_number:    arrValues[1+counter],
                current_position:   arrValues[2+counter],
                months_acting:      arrValues[3+counter],
                email_address:      arrValues[4+counter],
                status:             arrValues[5+counter],
                    
            })
            counter = counter + cols
            } console.log(people)
            
            function notify(a){
                console.log(a)
                    a.forEach(id => {
                        if (id.msg == 200){
                            toastr.success('Successfully entered the data.');
                        } else {
                            toastr.error('Some Error occured, please try again');
                        }
                    })
            }
            function submit_button_remove_loader(){
                var btn_submit = document.querySelector("#submit_btn")
                btn_submit.innerHTML = `Submit` 
                btn_submit.disabled = false
    
            }
            function removeRows(data){
                
            }

            {%if g.user.role == "Permanent Secretary"%}
                let url_for = '{{url_for("ps.api")}}'
            {%elif g.user.role == "Provincial"%}
                let url_for = '{{url_for("province.api")}}'
            {%elif g.user.role == "District"%}
                let url_for = '{{url_for("district.api")}}'
            {%elif g.user.role == "Station"%}
                let url_for = '{{url_for("station.api")}}'
            {% endif %}
            
            
            postData(url_for, people)
            .then(function(data){
                // $('#myModal').modal('show')
                notify(data) // JSON data parsed by `data.json()` call
                removeRows(data)
                submit_button_remove_loader()
            });

            console.log(people);
            

        }
</script>

<script>


// Example POST method implementation:
async function postData(url = '', data = {}) {
  // Default options are marked with *
  var csrf_token = "{{ csrf_token() }}";
  {%if g.user.role == "Permanent Secretary"%}
        let url_for_referrer = '{{url_for("station.api", _external=True)}}'
    {%elif g.user.role == "Provincial"%}
        let url_for_referrer = '{{url_for("province.api", _external=True)}}'
    {%elif g.user.role == "District"%}
        let url_for_referrer = '{{url_for("district.api", _external=True)}}'
    {%elif g.user.role == "Station"%}
        let url_for_referrer = '{{url_for("station.api", _external=True)}}'
    {% endif %}
  const response = await fetch(url, {
      
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken':csrf_token,
      'Referer':  url_for_referrer
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'same-origin', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  return response.json(); // parses JSON response into native JavaScript objects
}

</script>

{% endblock %}