{% extends "base_home.html" %}

<!-- Title  -->
{% block title %}{{g.user.name}} - {{g.user.station.name}} Administration{% endblock%}

<!-- Navigation  -->
{% block nav_links %}
  {% include "head_station/nav.html" %}
{% endblock %}

{% block registration__card__title%} 
    Register Station Employee
{% endblock %}



{% block registration__card__body %}
<form method="POST" action="{{ url_for('station.add') }}">
  {{ form.csrf_token }}
  <fieldset class="form-field">
      {{ form.name.label(class_="form-label") }}
      {{ form.name(class_="form-control") }}
    </fieldset>
    
    <fieldset class="form-field">
        {{ form.employee_number.label(class_="form-label") }}
        {{ form.employee_number(class_="form-control") }}
        </fieldset>
        
    
    <fieldset class="form-field">
        {{ form.current_position.label(class_="form-label") }}
        {{ form.current_position(class_="form-control") }}
      </fieldset>
      
    
    <fieldset class="form-field">
        {{ form.months_acting.label(class_="form-label") }}
        {{ form.months_acting(class_="form-control") }}
      </fieldset>
      
      <div class="mb-4">
    <fieldset class="form-field">
        {{ form.email_address.label(class_="form-label") }}
        {{ form.email_address(class_="form-control") }}
            {% if form.email_address.errors %}
            <ul class="errors">
                {% for error in form.email_address.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    </fieldset>

</div>
  {{ form.submit(class_="btn btn-success") }}
  {% if role == 'Station Employee' %} <a href="{{url_for('station.multi_form')}}" class="btn" style="background-color: coral;">Register Mulitple</a> {% endif %}


</form>  
{% endblock%}

{% block edit__card__title%} Edit Station Employee {% endblock %}
{% block edit__card__body %}
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Employee Name</th>
    <th scope="col">Employee Number</th>
    <th scope="col"></th>
  </tr>
</thead>
<tbody>
{% for sub in sub_dep %}

  <tr>
    <th scope="row">{{sub.id}}</th>
    <td>{{sub.name}}</td>
    <td>{{sub.employee_number}}</td>
    <td>
      <a href="{{url_for('station.edit', user=sub.id)}}" class="btn btn-success">
          
          <span class>
            <i class="fas fa-edit"></i>
          </span>
        </a>
      </td>
  </tr>
{% endfor %}

</tbody>
{% endblock %}

<!-- Delete Column -->

{% block delete__card__title %}
Delete Station Employee
{% endblock %}

{% block delete__card__body %}
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Employee Number</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
  {% for sub in sub_dep %}

            <tr>
              <th scope="row">1</th>
              <td>{{sub.name}}</td>
              <td>{{sub.employee_number}}</td>
              <td>
                  <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{sub.id}}">
                    <span class>
                      <i class="fas fa-trash"></i>
                    </span>
                  </a>
                </td>
            </tr>
            
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal{{sub.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"><h1 style="color:#EF7D00">Edit</h1></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form>
                                <!-- Employmee Number-->
                                <div class="mb-4">
                                  <p>Are you sure you want to remove {{sub.name}}</p>
                              </div>
                                
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                             <a href="{{url_for('admin.remove', user=sub.id)}}">
                               <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                            </div>
                          </div>
                        </div>
                      </div>
  {% endfor %}
  
          </tbody>
{% endblock %}



