<li class=" btn btn-success btn-rounded">
    <a href="{{url_for('station.multi_form', user=g.user.id)}}" style="color: white;">Add Staff Return</a>
  </li>
<li class=" btn btn-success btn-rounded">
    <a href="{{url_for('station.view_staff_return', user=g.user.id)}}" style="color: white;">View Staff Return</a>
  </li>
  <li class=" btn btn-success btn-rounded">
    <a href="{{url_for('station.submit_staff_return', user=g.user.id)}}" style="color: white;">Submit Staff return</a>
  </li>