<!-- by lubunda -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Headcount System </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>


<body style="margin: 0; padding: 0;"> 
    {% block body %}
    {% endblock %}
</body>