
  {% extends 'base_registration.html' %}
  {% block title %} Register Province {% endblock%}


  {% block content %}
         <div class="card " >

          <h5 class="card-header warning-color white-text text-center py-4">
            <strong>Permanent Secretary Registration</strong>
          </h5>
        
          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">
        
            <!-- Form -->
            <form class="text-center" style="color: #757575;"  method="POST">
              {{ form.csrf_token }}
              {% include "form_flashed_errors.html" %}
              <!-- Name -->
              <div class="md-form">
                {{ form.name.label(class_="form-label") }}
                {{ form.name(class_="form-control")}}
              </div>
        
              <!-- Employee Number -->
              <div class="md-form">
                {{ form.employee_number.label(class_="form-label") }}
                {{ form.employee_number(class_="form-control")}}
              </div>
        
              <!-- Province -->
              <div class="md-form">
                {{ form.province(class_="form-control")}}
             </div>

              <!-- Email Address -->
              <div class="md-form">
                {{ form.email_address.label(class_="form-label") }}
                {{ form.email_address(class_="form-control")}}
                </div>
        
              <div class="d-flex justify-content-around">
              </div>
        
              <!-- Sign in button -->
              <button class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Submit</button>
        
        
            </form>
            <!-- Form -->
        
          </div>
        
        </div>
        
        
{% endblock %}
