{% extends 'base.html' %}
{% block title %}Edit Provincial Head{% endblock%}
 
{% block nav_content %}
<h1></h1>
{% endblock %}
{% block nav_links %}
  {% include "head_ps/nav.html" %}
{% endblock %}


{% block breadcrumb %} 
<ol class=" my-4 breadcrumb white">
    <li class="breadcrumb-item">
      <a href="{{url_for('admin.index')}}">Home</a>
    </li> 

    <li class="breadcrumb-item active">Edit</li>
  </ol>

{% endblock %} 

{% block content %}
<div class="col d-flex justify-content-center">
<div class="card border border-dark"  style="width: 35rem;"> 
    <div class="card-body">
      <h5 class="card-title" style="color:#EF7D00"  >Edit Staff Information</h5>
      </div>
      {% include "form_flashed_errors.html" %}

      <div class="container-fluid px-5">
        
        <form method="POST" action="{{ url_for('ps.edit_provincial_head', user=user) }}">
          {{ form.csrf_token }}
          <div class="mb-4">
            <fieldset class="form-field">
              {{ form.name.label(class_="form-label") }} {{
              form.name(class_="form-control") }}
            </fieldset>
          </div>
        
          <div class="mb-4">
            <fieldset class="form-field">
              {{ form.employee_number.label(class_="form-label") }} {{
              form.employee_number(class_="form-control") }}
            </fieldset>
          </div>
        
          <div class="mb-4">
            <fieldset class="form-field">
              {{ form.department.label(class_="form-label") }} {{
              form.department(class_="form-control")}}
            </fieldset>
          </div>
        
          <div class="mb-4">
            <fieldset class="form-field">
              {{ form.email_address.label(class_="form-label") }} {{
              form.email_address(class_="form-control") }} {% if
              form.email_address.errors %}
              <ul class="errors">
                {% for error in form.email_address.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </fieldset>
          </div>
        
          {{ form.submit(class_="btn btn-success") }}
        </form>
      </div>
  </div>
</div>
    
    
{% endblock %}