<li class="nav-item ">
    <a class="btn btn-success btn-rounded" href="{{url_for('province.multi_form', user=g.user.id)}}" style="color: white;">Add Staff Return

    </a>
  </li>
<li class="nav-item ">
    <a class="btn btn-success btn-rounded" href="{{url_for('ps.view_staff_return', user=g.user.id)}}" style="color: white;">View Staff Return
    <span class="badge badge-danger badge-pill"></span>

    </a>
  </li>
  <li class="nav-item">
    <a class="btn btn-success btn-rounded" href="{{url_for('ps.submit_staff_return', user=g.user.id)}}" style="color: white;">Submit Staff return
    <span class="badge badge-danger badge-pill">30</span>
    </a>
  </li>