{% extends 'base_registration.html' %}
{% block title %}Email sent{% endblock%}


{% block content %}
<div class="card " >

  <h5 class="card-header warning-color white-text text-center py-4">
    <strong>Email Sent</strong>
  </h5>
<div class="col-6 " style=" margin-left:25%; ">
  <div class="col">
      <div class="card-body">
        
      
            <div class="text-center">
              <img width="200" height="200" src="{{url_for('static', filename='img/mail_icon.png')}}" alt="" srcset="">
              <br>
              <br>
              <p>Email notification sent to
                <a href="https://mail.grz.gov.zm/owa/#path=/mail">
                  {{email}}
                </a>                </p>
            </div>
        
          </div>
        </div>
      </div>
  </div>

{% endblock %}