
{% extends 'base.html' %}


{% block css_inline %}
             <style>

table {
                
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
    border: 0;
    }

    table caption {
    font-size: 1.3em;
    }
    
    table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    }
    
    table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    }
    
    table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    }
    
    table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    }
    
    table td:last-child {
    border-bottom: 0;
    }
}
             </style>     

{% endblock %}


{% block nav_content %}
            <h1>{{title}}</h1>
{% endblock %}
{% block nav_links %}
{% if g.user.role == "Permanent Secretary"%}
            {% include "head_ps/nav.html"%}
{% elif g.user.role == "Provincial"%}
            {% include "head_province/nav.html"%}
{% elif g.user.role == "District"%}
            {% include "head_district/nav.html"%}
{% elif g.user.role == "Station"%}
            {% include "head_station/nav.html"%}
{% endif %}
{% endblock %}
{% block content %}
<h2>Submit My Staff Returns </h2>

<table class="table table-striped " id="mydatatable1">
              
    <thead>
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Employeer Number</th>
        <th scope="col">Current Position</th>
        <th scope="col">Staff Return</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
        {% for employee in employees %}

      <tr>
        <td data-label="Employee Name">{{employee.name}}</td>
        <td data-label="Employeer Number">{{employee.employee_number}}</td>
        <td data-label="current position">{{employee.current_position}}</td>
        <td data-label="current position">{{employee.role}}</td>
        <td data-label="Status">
            <select>
                <option value="0"{% if employee.status == 0%} selected="selected"{% endif%}>Deserters</option>
                <option value="1"{% if employee.status == 1%} selected="selected"{% endif%}>Deceased</option>
                <option value="2"{% if employee.status == 2%} selected="selected"{% endif%}>Dismissed</option>
                <option value="3"{% if employee.status == 3%} selected="selected"{% endif%}>Present and Working</option>
              </select>
            
        </td>
      </tr>
      {% endfor %}

    </tbody>
        
  </table>
  <input type="button" class="btn btn-success" id="bt" value="Submit Data" onclick="submit('mydatatable1')" />
  

  {% if  all_employees %}
<h2>Submit All Staff Returns </h2>
  
<table class="table table-striped " id="mydatatable2">
              
    <thead>
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Employeer Number</th>
        <th scope="col">Current Position</th>
        <th scope="col">Staff Return</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
        {% for employee in all_employees %}

      <tr>
        <td data-label="Employee Name">{{employee.name}}</td>
        <td data-label="Employeer Number">{{employee.employee_number}}</td>
        <td data-label="current position">{{employee.current_position}}</td>
        <td data-label="Station">{{employee.role}}</td>
        <td data-label="Status">
            <select>
                <option value="0"{% if employee.status == 0%} selected="selected"{% endif%}>Deserters</option>
                <option value="1"{% if employee.status == 1%} selected="selected"{% endif%}>Deceased</option>
                <option value="2"{% if employee.status == 2%} selected="selected"{% endif%}>Dismissed</option>
                <option value="3"{% if employee.status == 3%} selected="selected"{% endif%}>Present and Working</option>
              </select>
            
        </td>
      </tr>
      {% endfor %}

    </tbody>
        
  </table>
  
  {% endif %}
  
  <input type="button" class="btn btn-success" id="bt" value="Submit Data" onclick="submit('mydatatable2')" />
  
  <div id="success" class="my-3"></div>


{% endblock %}




{% block script %}
<script>
            arrHead = ['','Name', 'Employee_number ', ' Current Position', 'Months Active','Email'];

function addRow() {
    var empTab = document.getElementById('empTable');

    var rowCnt = empTab.rows.length;    // get the number of rows.
    var tr = empTab.insertRow(rowCnt); // table row.
    tr = empTab.insertRow(rowCnt);

    for (var c = 0; c < arrHead.length; c++) {
        var td = document.createElement('td');          // TABLE DEFINITION.
        td = tr.insertCell(c);

        if (c == 0) {   // if its the first column of the table.
            // add a button control.
            var button = document.createElement('input');

            // set the attributes.
            button.setAttribute('type', 'button');
            button.setAttribute('value', 'Remove');

            // add button's "onclick" event.
            button.setAttribute('onclick', 'removeRow(this)');

            td.appendChild(button);
        }
        else {
            // the 2nd, 3rd and 4th column, will have textbox.
            var ele = document.createElement('input');
            ele.setAttribute('type', 'text');
            ele.setAttribute('value', '');

            td.appendChild(ele);
        }
    }
}

function submit(table) {
        var myTab = document.getElementById(table);
        console.log(myTab.rows.length)
        if (myTab.rows.length <= 1){
            alert('No rows to submit')
        } else {

        var arrValues = new Array();

        // loop through each row of the table.
        for (row = 1; row < myTab.rows.length; row++) {
            // loop through each cell in a row.
            for (c = 0; c < myTab.rows[row].cells.length; c++) {
                var element = myTab.rows.item(row).cells[c];
                if ((c+1) < myTab.rows[row].cells.length ) {
                    // console.log(element.childNodes[0])
                    arrValues.push("'" + element.childNodes[0].textContent + "'");
                } else{
                    arrValues.push("'" + element.childNodes[1].value + "'");
                }
                
            }
        }

        }
        
        // finally, show the result in the console.
        var people =[]
        var counter = 0
        for(i = 0; i<arrValues.length/5; i++){
            people.push({
                id:                 i,
                employee_number:    arrValues[1+counter],
                status:             arrValues[4+counter],
                    
            })
            counter = counter + 5
            }
            
          function addText(){
              document.querySelector("#success").innerHTML = "Succesfully confirmed users"
          }
          console.log(people);
          
          {%if g.user.role == "Permanent Secretary"%}
                let url_for = '{{url_for("ps.submit_collection")}}'
            {%elif g.user.role == "Provincial"%}
                let url_for = '{{url_for("province.submit_collection")}}'
            {%elif g.user.role == "District"%}
                let url_for = '{{url_for("district.submit_collection")}}'
            {%elif g.user.role == "Station"%}
                let url_for = '{{url_for("station.submit_collection")}}'
            {% endif %}
            
            postData(url_for, people)
            .then(function(data) {
                console.log(data);
                addText(data) // JSON data parsed by `data.json()` call
            });
            

        }


// Example POST method implementation:
async function postData(url = '', data = {}) {
  // Default options are marked with *
  var csrf_token = "{{ csrf_token() }}";
  {%if g.user.role == "Permanent Secretary"%}
        let url_for_referrer = '{{url_for("station.submit_collection", _external=True)}}'
    {%elif g.user.role == "Provincial"%}
        let url_for_referrer = '{{url_for("province.submit_collection", _external=True)}}'
    {%elif g.user.role == "District"%}
        let url_for_referrer = '{{url_for("district.submit_collection", _external=True)}}'
    {%elif g.user.role == "Station"%}
        let url_for_referrer = '{{url_for("station.submit_collection", _external=True)}}'
    {% endif %}
  const response = await fetch(url, {
      
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken':csrf_token,
      'Referer':  url_for_referrer
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'same-origin', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  return response.json(); // parses JSON response into native JavaScript objects
}

</script>

<script>
    $(document).ready( function () {
$('#mydatatable').DataTable();
} );
    $(document).ready( function () {
$('#mydatatable2').DataTable();
} );
</script>
{% endblock %}